<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_dept</h1>
        <form method="POST">
            {% csrf_token %}
        <lable for="deptno">DEPTNO</lable>
        <input type="number" name="deptno" id="deptno">
        <br><br>
        <lable for="name">DNAME</lable>
        <input type="text" name="name" id="name">
        <br><br>
        <lable for="loc">LOC</lable>
        <input type="text" name="loc" id="loc">
        <br><br>
        <input type="submit" value="Submit">
        
        </form>
    </center>
</body>
</html>